@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap");

:root {
  --White: hsl(0, 0%, 100%);
  --Light_gray: hsl(212, 45%, 89%);
  --Grayish_blue: hsl(220, 15%, 55%);
  --Dark_blue: hsl(218, 44%, 22%);
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Outfit", sans-serif;
  font-size: 15px;
  background-color: var(--Light_gray);
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

img {
  width: 100%;
}

.container {
  width: 320px;
  height: 497px;
  background-color: var(--White);
  text-align: center;
  border-radius: 20px;
  overflow: hidden;
}

.container-img {
  width: 288px;
  height: 288px;
  margin: 16px;
}

.container-img img{
  border-radius: 20px;
}

.container-text {
  width: 288px;
  height: 129px;
  margin: 8px 16px 40px;
}

.container-text h1 {
  padding: 0 16px 16px;
  color: var(--Dark_blue);
}

.container-text p {
  padding: 0 16px 0;
  color: var(--Grayish_blue);
}

 

 